* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body{
    background-color: aliceblue;
    font-family: "Poppins", "sans-serif";
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
    color: gray;
}

h1{
    color:blueviolet;
    font-size: 8rem;
    text-align: center;
    opacity: 0.4;
    margin-bottom: 40px;
}

form{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.task_value{
    height: 2rem;
}

.task_submit{
    height: 2rem;
}

#table{
    background-color: white;
    margin: auto;
    width: 50%;
    height: 400px;
    border-radius: 1rem;
    margin-top: 2rem;
    overflow: auto;
}

h2{
    font-size: 1.2rem;
    padding: 1rem;
}

li{
    margin: 2rem 2rem 2rem 0;
    display: flex;
    justify-content: space-between;
}
